@using Camelonta.Utilities
@inherits CamelontaUmbracoTemplatePage

@{ var pages = Model.Content.AncestorOrSelf(2); }

<nav id="l-leftnav">
    <ul>
        @foreach (var page in pages.Children.Where(p => p.IsVisible()))
        {
            <li>
                <a href="@page.Url" class="@page.IfPageIsCurrent(Model, "is-current-page")">@page.NavName()</a>
                @if (page.IsAncestorOrSelf(Model.Content) && page.Children.Any())
                {
                    <ul class="is-submenu">
                        @foreach (var child in page.Children.Where(p => p.IsVisible()))
                        {
                            <li class="@child.IfPageIsCurrent(Model, "is-current-page") @child.IfPageIsActive(Model, "is-active-sub")">
                                <a href="@child.Url">@child.NavName()</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</nav>