@inherits UmbracoTemplatePage

@{ var topleft = CurrentPage.AncestorOrSelf(2); }

@helper PageIsCurrent(dynamic page, string cssClass)
{
    if (CurrentPage.Id == page.Id)
    {
        @cssClass
    }
}

@helper PageIsSelected(IPublishedContent page)
{
    if (page.IsAncestorOrSelf((IPublishedContent)CurrentPage))
    {
        @:is-active
    }
}

<nav>
    <ul>
        @foreach (var page in topleft.Children.Where("!umbracoNaviHide"))
        {
            <li>
                <a href="@page.Url" class="@PageIsCurrent(page, "is-current-page")">@page.Name</a>
                @if (page.IsAncestorOrSelf(Model) && page.Children.Any())
                {
                    <ul class="is-submenu">
                        @foreach (var child in page.Children.Where("!umbracoNaviHide"))
                        {
                            <li class="@PageIsCurrent(child, "is-current-page") @PageIsCurrent(child, "is-active-sub")">
                                <a href="@child.Url">@child.Name</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</nav>