@inherits Camelonta.Boilerplate.Classes.CamelontaUmbracoTemplatePage

@helper PageIsActive(IPublishedContent page)
{
    if (page.IsAncestorOrSelf(CurrentPageTyped))
    {
        @: class="is-active"
    }
}

<nav id="l-topnav">
    <ul>
        @foreach (var page in CurrentSite.Children.Where(p => p.IsVisible()))
        {
            <li>
                <a href="@page.Url" @PageIsActive(page)>@page.Name</a>
                @*@if (page.Children.Any())
                    {
                        <select>
                            @foreach (var child in page.Children.Where(p => p.IsVisible()))
                            {
                                <option value="@child.Url">@child.Name</option>
                            }
                        </select>
                    }*@
            </li>
        }
    </ul>
</nav>
<a href="#" id="mobile-menu-button" class="is-hidden"></a>