@using Camelonta.Utilities
@inherits CamelontaUmbracoTemplatePage

<nav id="l-topnav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul>
        @foreach (var page in CurrentSite.Children.Where(p => p.IsVisible()))
        {
            <li>
                <a href="@page.Url" class="@page.IfPageIsActive(Model, "is-active")" title="@page.Name" itemprop="url">
                    <span itemprop="name">@page.NavName()</span>
                </a>
                @*@if (page.Children.Any())
                    {
                        <select>
                            @foreach (var child in page.Children.Where(p => p.IsVisible()))
                            {
                                <option value="@child.Url">@child.NavName()</option>
                            }
                        </select>
                    }*@
            </li>
        }
    </ul>
</nav>
<a href="#" id="mobile-menu-button" class="is-hidden"></a>