@using Camelonta.Utilities
@model MenuItems

<ul>
    @foreach (var page in Model.Pages.FilterInvalidPages())
    {
        @MenuItem(page)
    }
</ul>

@helper MenuItem(IPublishedContent page)
{
    var children = page.Children.FilterInvalidPages();
    <li data-id="@page.Id" class="@page.IfPageIsCurrent(Model.CurrentPage, "current")@page.IfPageIsActive(Model.CurrentPage, " active")">
        <a href="@page.GetUrl()" itemprop="url" title="@page.Name">
            <span itemprop="name">@page.NavName()</span>
            @if (children.Any())
            {
                <span class="toggle"></span>
            }
        </a>
        @if (children.Any() && page.IsAncestorOrSelf(Model.CurrentPage))
        {
            <ul>
                @foreach (var child in children)
                {
                    @MenuItem(child)
                }
            </ul>
        }
    </li>
}