@using System.Web.Optimization
@inherits UmbracoTemplatePage
@{
    var site = CurrentPage.AncestorOrSelf(1);
}

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@site.Name - @CurrentPage.Name</title>
    <meta name="description" content="@CurrentPage.metadescription">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link href="@Styles.Url("~/bundles/styles")" rel="stylesheet" type="text/css" />
</head>
<body class="pagetype-@CurrentPage.DocumentTypeAlias.ToLower()">

    <div id="l-header-container">
        <header class="wrapper clearfix">
            <h1 class="title"><a href="@site.Url">@site.Name</a></h1>
            @RenderPage("Partials/_TopNav.cshtml")
        </header>
    </div>

    <div id="l-main-container">
        <div class="main wrapper clearfix">
            @RenderBody()
        </div> <!-- #main -->
    </div> <!-- #main-container -->

    <div id="l-footer-container">
        <footer class="wrapper">
            @CurrentPage.GetPropertyValue("footer", true)
        </footer>
    </div>

    <script src="@Scripts.Url("~/bundles/scripts")" type="text/javascript"></script>

</body>
</html>