@using System.Web.Optimization
@inherits CamelontaUmbracoTemplatePage

<!DOCTYPE html>
<html lang="@UmbracoContext.PublishedContentRequest.Culture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@Meta.PageTitle(Model.Content)</title>
    <meta name="description" content="@Model.Content.GetPropertyValue("metadescription")">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="@Meta.RobotsContent(Model.Content)" />

    @* TODO: Skapa den default-delningsbild för sociala medier. Meta.PageMainImage har en fallback till den. Kolla gärna camelonta.se*@
    <meta property="og:image" content="@CurrentSite.UrlAbsolute()@Meta.PageMainImage(Model.Content)">
    <meta property="og:title" content="@Meta.PageTitle(Model.Content)">
    <meta property="og:url" content="@Model.Content.UrlAbsolute()">
    <meta property="og:description" content="@Meta.PageTeaser(Model.Content, 500)">
    <meta property="og:site_name" content="@CurrentSite.Name" />


    @Html.Partial("_Favicons")

    @Styles.Render("~/bundles/styles")

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    @* TODO: Skapa ett eget Icomoon-projekt om du behöver ikoner *@
    <link rel="stylesheet" href="http://i.icomoon.io/public/1a91909ce0/Boilerplate-Umbraco/style.css">

    <!--[if lt IE 9]>
        <script src="@Scripts.Url("~/bundles/ltIe9Scripts")"></script>
    <![endif]-->
</head>
<body class="@BodyClasses()" itemscope itemtype="http://schema.org/WebPage" data-current-node="@Model.Content.Id" data-search-url="@SearchPage.GetUrl()">

    <header role="banner">
        <div class="container">
            <a href="@CurrentSite.Url" id="header-logo">
                <img src="http://placehold.it/350x150/fff/333?text=LOGO" alt="@CurrentSite.Name logo">
            </a>

            <a href="javascript:void(0)" class="mobile-menu-toggle"><i class="icon-menu"></i>meny</a>
            @Html.Partial("_TopLinks")
            @Html.Partial("_SearchForm")
        </div>
    </header>

    @Html.Partial("_TopNav")

    @Html.Partial("Layout/_Hero")

    @RenderBody()

    @Html.Partial("Layout/_Footer")

    @Scripts.RenderFormat("<script src=\"{0}\"></script>", "~/bundles/scripts")

    @if (CurrentSite.HasValue("siteScript"))
    {
        <script async>@Html.Raw(CurrentSite.GetPropertyValue("siteScript"))</script>
    }

    @if (Model.Content.HasValue("pageScript"))
    {
        <script async>@Html.Raw(Model.Content.GetPropertyValue("pageScript"))</script>
    }
</body>
</html>

@functions{

    string BodyClasses()
    {
        var classes = string.Format("page-{0}", Model.Content.DocumentTypeAlias.ToLower());

        if (Model.Content.HasValue("additionalBodyClass"))
        {
            classes += " " + Model.Content.GetPropertyValue("additionalBodyClass");
        }

        return classes;
    }
}