@using System.Web.Optimization
@inherits CamelontaUmbracoTemplatePage

@*
    DOCS and attgöra-lista for this Boilerplate
    https://docs.google.com/document/d/13w3mRYi4V7SzwjbKDTHGkjQsX17HWSgXdC5TOo5Ydg8/edit
*@

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@Meta.PageTitle(Model.Content)</title>
    <meta name="description" content="@Model.Content.GetPropertyValue("metadescription")">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="@Meta.RobotsContent(Model.Content)" />

    <meta name="theme-color" content="#84EBA5">

    <link rel="icon" sizes="192x192" href="/img/touch/homescreen-192.png">
    <link rel="shortcut icon" href="/img/touch/homescreen-72.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/img/touch/homescreen-192.png">

    <meta property="og:title" content="@Meta.PageTitle(Model.Content)">
    <meta property="og:url" content="@Model.Content.UrlAbsolute()">
    <meta property="og:description" content="@Meta.PageTeaser(Model.Content,500)">
    <meta property="og:site_name" content="@CurrentSite.Name" />
    <meta property="og:image" content="@CurrentSite.UrlAbsolute()@Meta.PageMainImage(Model.Content)">

    @*      TODO
        1. Skapa ett eget Icomoon-projekt.
        2. Vid livesättning: Ta bort denna länk till Icomoon och LADDA NED ditt egna paket. Snabblänk är endast för utveckling (för att snabbt kunna  ta bort + lägga till ikoner) *@
    <link rel="stylesheet" href="http://i.icomoon.io/public/1a91909ce0/Boilerplate-Umbraco/style.css">

    <link href="@Styles.Url("~/bundles/styles")" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="@Scripts.Url("~/bundles/ltIe9Scripts")"></script>
    <![endif]-->
</head>
<body class="@BodyClasses()" itemscope itemtype="http://schema.org/WebPage">

    <header>
        <div class="container">
            <a href="@CurrentSite.Url">@CurrentSite.Name</a>

            <div class="pull-right">
                <a href="#" class="mobile-menu-toggle"><i class="icon-menu"></i>meny</a>
                @RenderPage("Partials/_TopLinks.cshtml")
                @RenderPage("Partials/_SearchForm.cshtml")
            </div>
        </div>
    </header>
    @RenderPage("Partials/_TopNav.cshtml")

    @RenderBody()

    <footer>
        <div class="container">
            @Model.Content.GetPropertyValue("footer", true)
        </div>
    </footer>

    <script>var currentNode = '@Model.Content.Id';</script>

    <script async src="@Scripts.Url("~/bundles/scripts")"></script>

    @{ var siteScript = Model.Content.GetPropertyValue<string>("siteScript", true);}
    @if (!String.IsNullOrWhiteSpace(siteScript))
    {
        <script async>@Html.Raw(siteScript)</script>
    }

</body>
</html>

@functions
{
    string BodyClasses()
    {
        var classes = "pagetype-" + Model.Content.DocumentTypeAlias.ToLower();
        if (!LeftNavigation.Any())
        {
            classes += " no-leftnav";
        }
        return classes;
    }
}
