@inherits CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    @Html.Partial("Layout/_LeftNav")


    @if (Model.Content.DocumentTypeAlias == "Faqquestion")
    {
        <h1>@Model.Content.Name</h1>
            @FaqQuestion(Model.Content)
    }
    else
    {
        @RenderHelper.Header(Model.Content)
        @Model.Content.GetPropertyValue("contentMiddle")

        @* Questionlist *@
    foreach (var page in Model.Content.Children)
    {
        @FaqQuestion(page)
        }
    }

</div>

@helper FaqQuestion(IPublishedContent page)
{
    <div class="faq">
        <h3 class="question">@page.Name</h3>
        <div class="answer">
            @page.GetPropertyValue("answer")
        </div>
    </div>
}
