@inherits Camelonta.Boilerplate.Classes.CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

<section id="l-sidebar">
    @RenderPage("Partials/_LeftNav.cshtml")
</section>

<article>
    <h2>@Model.Content.Name</h2>

    @* Single question *@ 
    @if (Model.Content.DocumentTypeAlias == "Faqquestion")
    {
        @FaqQuestion(Model.Content)
    }

    @* Questionlist *@
    @foreach (var page in Model.Content.Children)
    {
        @FaqQuestion(page)
    }

</article>


@helper FaqQuestion(IPublishedContent page) {
    <div class="faq">
        <div class="question">
            @Model.Content.GetPropertyValue("question")
        </div>
        <div class="answer">
            @Model.Content.GetPropertyValue("answer")
        </div>
    </div>
}