@inherits CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";

    const int take = 40;
    var skip = Request.QueryString["skip"] == null ? 0 : Convert.ToInt32(Request.QueryString["skip"]);
    var news = Model.Content.Descendants().Where(p => p.DocumentTypeAlias == "News").Skip(skip).Take(take);
    var count = Model.Content.Descendants().Count(p => p.DocumentTypeAlias == "News");
}

<div class="container">
    @RenderPage("Partials/_LeftNav.cshtml")

    <main>
        <h1>@Model.Content.Name</h1>

        @foreach (var page in news)
        {
            <a href="@page.Url">
                <h4>@page.Name</h4>
                <small>@page.CreateDate.ToString("yyyy-MM-dd")</small>
                <p>@Meta.PageTeaser(page)</p>
            </a>
        }

        @{
            var paginationSize = count / take;
        }

        @for (var i = 0; i < paginationSize; i++)
        {
            <a href="?skip=@(i*take)">@(i + 1)</a>
        }

    </main>
</div>