@inherits Camelonta.Boilerplate.Classes.CamelontaUmbracoTemplatePage
@{ Layout = "~/Views/_Layout.cshtml"; }

<section id="l-sidebar">
    @RenderPage("Partials/_LeftNav.cshtml")
</section>

<article>
    <h2>@Model.Content.Name</h2>

    @{
        const int take = 40;
        var skip = Request.QueryString["skip"] == null ? 0 : Convert.ToInt32(Request.QueryString["skip"]);
        var news = Model.Content.Descendants().Where(p => p.DocumentTypeAlias == "News").Skip(skip).Take(take);
        var count = Model.Content.Descendants().Count(p => p.DocumentTypeAlias == "News");
    }

    @foreach (var page in news)
    {
        @page.CreateDate.ToString("yyyy-MM-dd") <b><a href="@page.Url">@page.Name</a></b>
        <div>@page.GetPropertyValue("metadescription")</div>
    }

    <div>
        @{
            var paginationSize = count / take;
        }

        @for (var i = 0; i < paginationSize; i++)
        {
            <a href="?skip=@(i*take)">@(i + 1)</a>
        }
    </div>

</article>