@inherits CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

@{
    var searchTerm = Request.QueryString["q"] ?? "";
    var searchResults = Umbraco.Search(searchTerm);
}


<h1>@Model.Content.Name</h1>

@RenderPage("Partials/_SearchForm.cshtml")

@if (searchResults.Any())
{
    foreach (var result in searchResults)
    {
        var node = Umbraco.TypedContent(result.Id);
            <b>@node.Name</b><br />
            <a href="@node.Url">@node.Url</a>
    }
}
else if (!String.IsNullOrWhiteSpace(searchTerm))
{
    <p>Inga träffar på: @searchTerm</p>
}