@inherits SearchTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
    var search = new Search(Umbraco.TypedSearch(SearchTerm), SearchTerm, CurrentPageNumber); // TODO: Undvika att hämta alla sidor om vi kan få ut totalResults på annat sätt.
}

<div class="container">
    <main>
        <h1>@Model.Content.Name</h1>
        @RenderPage("Partials/_SearchForm.cshtml")
        <div id="search-results">
            @{Html.RenderPartial("~/Views/Partials/_SearchResults.cshtml", search);}
        </div>

        @if (search.HasHiddenResults)
        {
            <a id="search-more-results" href="@SearchPage.GetUrl()?q=@search.SearchTerm&page=@NextPage" class="button" data-search-term="@search.SearchTerm" data-next-page="@NextPage">
                <i class="icon-keyboard-arrow-down2"></i> Visa fler resultat
            </a>
            <div id="search-unexpected-error" class="hidden red">Kunde inte hämta fler resultat, vänligen försök igen.</div>
        }
    </main>
</div>