@inherits Camelonta.Boilerplate.Classes.CamelontaUmbracoTemplatePage
@{
    Layout = "~/Views/_Layout.cshtml";
}

@{
    string searchTerm = Request.QueryString["q"] ?? "";
    var searchResults = Umbraco.Search(searchTerm);
}


<h1>@Model.Content.Name</h1>

<form class="margin-bottom">
    <input type="text" autocomplete="off" name="q" placeholder="@Model.Content.Name" value="@searchTerm">
    <input type="submit" value="@Model.Content.Name">
</form>

@if (searchResults.Any())
{
    foreach (var result in searchResults)
    {
        var node = Umbraco.TypedContent(result.Id);
        <div class="margin-bottom">
            <b>@node.Name</b><br />
            <a href="@node.Url">@node.Url</a>
        </div>
    }
}
else if (!String.IsNullOrWhiteSpace(searchTerm))
{
    <div class="margin-bottom">Inga träffar på: @searchTerm</div>
}