@inherits CamelontaUmbracoTemplatePage

@if (Hero != null)
{
    <div id="hero">
        @if (!string.IsNullOrEmpty(Hero.Text))
        {
            <div class="container">
                <div class="content">
                    @Html.Raw(Hero.Text)
                </div>
            </div>
        }
    </div>
    <style>
        #hero {background-image: url(@ImageUrl(2600));}
        @@media screen and (max-width: 1200px) {#hero {background-image: url(@ImageUrl(1800));}}
        @@media screen and (max-width: 800px) and (orientation: portrait) {#hero {background-image: url(@ImageUrl(1200,1500));}}
        @@media screen and (max-width: 500px) {#hero {background-image: url(@ImageUrl(1000,1000));}}
    </style>
}

@functions {

    HtmlString ImageUrl(int width, int height = 700)
    {
        return new HtmlString(string.Format("{0}?width={1}&height={2}&mode=crop", Hero.Image, width, height));
    }
}