@inherits CamelontaUmbracoTemplatePage
@using Camelonta.Boilerplate.Classes.Search
@{
    Layout = "~/Views/_Layout.cshtml";

    var query = Request.QueryString["q"] ?? "";
    var skip = 0;
    const int skipAndTakeAmount = 10;

    if (!string.IsNullOrEmpty(Request.QueryString["skip"]))
    {
        int.TryParse(Request.QueryString["skip"], out skip);
    }

    var search = new Search(query, skip, skipAndTakeAmount);
}

<div class="container">
    <main role="main">
        <h1>@Model.Content.Name</h1>
        @{ Html.RenderPartial("_SearchForm");}
        @if (search.TotalResults > 0)
        {
            <p>
                Resultat <strong>@(skip + 1 ) - <span id="amount-of-taken-search-results">@search.AmountOfTakenResult</span></strong> av @search.TotalResults träffar totalt.
            </p>
        }
        <div id="search-results">
            @{Html.RenderPartial("~/Views/Partials/_SearchResults.cshtml", search);}
        </div>

        @if (search.MoreResultsAvailable)
        {
            <a class="load-more-results" href="@SearchPage.GetUrl()?q=@query&skip=@(skip + skipAndTakeAmount)">
                <i class="icon-keyboard-arrow-down2"></i> Visa fler resultat
            </a>
        }
    </main>
</div>

<script>
    var skipAndTakeAmount = @skipAndTakeAmount;
    var query = "@query";
</script>